@use "../../scss/vars";

.about {
  background: vars.$primary-color;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(100px at 50% 50%);
    transition: clip-path 0.5s ease-in-out;

    &:hover {
      clip-path: circle(100%);
      .about__picture img {
        top: -10%;
        left: -15%;
        transform: translate(50%, 50%);
        animation: none;
      }
      .about__info {
        background: vars.$secondary-color;
        &__bio {
          opacity: 1;
        }
      }
    }
  }

  &__picture {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 200px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
      animation: intermittent 2s linear infinite;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background: vars.$primary-color;
    border-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid vars.$secondary-color;
      top: 40%;
      left: 140px;
      z-index: -1;
    }
    &__bio {
      color: vars.$primary-color;
      text-align: center;
      padding: 20px;
      font-size: 1.5rem;
      line-height: 1.1em;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  &::before {
    content: "";

    background: vars.$primary-color;
    background: linear-gradient(
      90deg,
      vars.$primary-color 0%,
      vars.$primary-color 49%,
      vars.$primary-color 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(
      100% 0,
      100% 90%,
      88% 91%,
      68% 89%,
      53% 89%,
      38% 88%,
      29% 81%,
      9% 85%,
      0 71%,
      0 0
    );
    transform: rotate(180deg);
  }
}

@keyframes intermittent {
  0% {
    box-shadow: 0px 0px 20px rgba(41, 46, 50, 0.35);
    scale: 0.99;
  }

  50% {
    box-shadow: 0px 0px 20px rgba(80, 227, 194, 0.9);
    scale: 1;
  }

  100% {
    box-shadow: 0px 0px 20px rgba(41, 46, 50, 0.7);
    scale: 0.99;
  }
}
