@use "../../scss/vars";
@use "../../scss/mixins";

.skill {
  border-bottom: vars.$secondary-color solid 1px;
}

.skill .skill_message {
  color: white;
  margin-bottom: 24px;
}

.skill__name {
  color: white !important;
}

.bar-expand-container {
  width: 85%;
  background: #747474;
  height: 7px;
  display: flex;
  align-items: center;
}

.bar-expand {
  background: vars.$secondary-color;
  height: 7px;
}

.skills-list {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .skill__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 33.33%;
    padding-bottom: 30px;

    p {
      margin: 0;
    }

    &:hover {
      .skill__item__image {
        opacity: 0.2;
      }

      .skill__item__level {
        opacity: 1;
      }
    }

    &__level {
      top: 30%;
      transition: all 0.3s ease-in;
      position: absolute;
      opacity: 0;

      > p {
        color: white;
        @include mixins.rem("font-size", 24px);
      }
    }

    &__image {
      height: 150px;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .skills-list {
    .skill__item {
      &__image {
        height: 120px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .skills-list {
    .skill__item {
      flex-basis: 50%;
    }
  }
}
