@use "../../scss/vars";
@use "../../scss/mixins";

.testimonials {
  padding-top: 20px;

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 10px;
    text-align: center;

    @include mixins.media-breakpoint(md) {
      padding: 0 10px;
    }

    &__description {
      color: #b5b5b5;
      text-align: justify;
    }

    .author__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    .author__social {
      flex: 1;
      font-size: 30px;
      color: #b5b5b5;
      margin-left: 10px;
      &:hover {
        color: vars.$secondary-color;
      }
    }

    .author__info {
    }

    .author__name,
    .author__ocupation {
      margin-bottom: 0;
      font-weight: bold;
      padding-right: 10px;
      color: lightgray;
    }
  }

  .testimonial__carousel {
    .rec-arrow {
      background-color: #50e3c233;
      &:hover {
        background-color: vars.$secondary-color;
      }
    }


    .rec-dot {
      &:hover {
        box-shadow: 0 0 1px 3px #50e3c233;
      }
    }

    .rec-dot_active {
      background-color: #50e3c383;
      box-shadow: 0 0 1px 3px #3dc5a833;
    }
  }
}
