$primary-color: #292e32;
$secondary-color: #50e3c2;
$white-color: "#ebeeee";

$font-family: 'Poppins', sans-serif;
$font-family-courgette: 'Courgette', cursive;

$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);